.export-container {
    width: 800px;
    padding: 20px;
    background-color: white;
    color: black;
    font-family: "Arial", sans-serif;
}

.export-container h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.export-container .recipe-meta span {
    margin-right: 10px;
    font-weight: bold;
}

.export-container .recipe-ingredients li {
    margin-bottom: 4px;
}

.export-container .recipe-instructions {
    margin-top: 15px;
    line-height: 1.5;
}

/* Dynamically support dark theme */
.dark-theme .export-container {
    background-color: #1f2937; /* dark-gray */
    color: #f3f4f6; /* light text */
}
